extends _base.pug

block content
	section#top
		//- Quick info about the server.
		h1 Hightower OGs
		h2 TDM insta-respawn with no bullshit
		//- img(src="/graphics/logo-outline.svg")
		a(href='steam://connect/89.34.96.159:27015/')
			span Join now!
	main
		//- Rules, links to discord and steam group, short info about the server
		include partials/_about.pug

		//- Server features
		include partials/_features.pug

		//- Where to give feedback on the server (aka. redirect to steam group or to the built-in issue tracker)
		include partials/_feedback.pug

		//- Link to profiles of all staff members
		include partials/_contact.pug
