@use 'styles/global/variables' as *;
@use 'styles/global/utils' as *;

section#top::before {
	content: '';

	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 150%;

	mix-blend-mode: normal;

	background-image: url('/graphics/intro.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position-y: 4rem;
}

section#top {
	@extend %center-container;

	flex-direction: column;
	position: relative;

	height: 64rem;

	color: $main-fg;

	isolation: isolate;

	text-shadow: 2px 2px 2px $hard-shadow;

	* {
		// mix-blend-mode: hard-light;
		position: relative;
	}

	h1 {
		font-size: 7rem;
		font-weight: 200;
		letter-spacing: 0.2vmax;
	}

	h2 {
		margin-top: 2rem;

		font-size: 1.5rem;
		font-weight: 400;
		letter-spacing: 0.15vmax;
	}

	img {
		width: 10rem;
		height: auto;

		margin: 2rem;
	}

	a {
		@extend %center-container;

		width: 10rem;
		height: 4rem;

		font-size: 1.4rem;
		font-weight: 400;
		letter-spacing: 0.1vmax;

		margin: 2rem;

		border: $main-fg 0.2rem solid;
		border-radius: 0.2vmax;
		color: $main-fg;

		box-shadow: 2px 2px 2px 0px $hard-shadow;
		text-shadow: 2px 2px 2px $hard-shadow;

		transition: all 0.2s linear;
	}

	a:hover {
		transform: scale(1.1);
		border-color: $accent;

		color: $accent;
	}
}

div#page {
	main {
		@extend %center-container;

		flex-direction: column;

		position: relative;

		height: auto;

		section {
			@extend %center-container;

			width: 75%;
			height: auto;

			position: relative;

			background-color: $main-bg;
			color: $main-fg;

			text-shadow: 2px 2px 2px $shadow-color;
		}

		section#about {
			flex-direction: column;

			justify-content: flex-start;

			height: 20rem;

			h1 {
				@extend %center-container;

				width: 100%;
				height: 2rem;

				font-size: 1.5rem;
				font-weight: 400;

				letter-spacing: 0.1rem;

				border-bottom-width: 0.2rem;
				border-bottom-style: solid;
				border-image-source: linear-gradient(
					90deg,
					rgba(255, 255, 255, 0) 0%,
					rgba($accent, 1) 50%,
					rgba(0, 212, 255, 0) 100%
				);
				border-image-slice: 1;
				border-image-width: 2.5rem;
			}

			.col-container {
				@extend %center-container;

				justify-content: stretch;
				align-items: flex-start;

				width: 100%;
				height: calc(100% - 2rem);

				.column {
					@extend %center-container;

					flex-direction: column;

					width: 100%;
					height: 100%;

					h2 {
						@extend %center-container;

						width: 100%;
						height: 2rem;

						font-size: 1.2rem;
						font-weight: 400;

						letter-spacing: 0.1rem;

						border-bottom-width: 0.2rem;
						border-bottom-style: solid;
						border-image-source: linear-gradient(
							90deg,
							rgba(255, 255, 255, 0) 0%,
							rgba($accent, 0.5) 50%,
							rgba(0, 212, 255, 0) 100%
						);
						border-image-slice: 1;
					}

					article {
						@extend %center-container;

						width: 100%;
						height: calc(100% - 2rem);

						flex-direction: column;
						justify-content: flex-start;
						align-items: flex-start;

						padding: 1rem;

						font-size: 1rem;
						font-weight: 400;
						letter-spacing: 0.1rem;

						line-height: 2rem;

						ul {
							@extend %center-container;

							flex-direction: column;
							align-items: flex-start;
							justify-content: flex-start;

							font-size: 1rem;

							li::before {
								content: ' - ';
							}

							li {
								padding-left: 1rem;
							}
						}

						a {
							@extend %center-container;

							display: flex;
							flex-direction: column;

							width: 100%;
							height: 50%;

							padding: 1rem;

							color: $main-fg;

							transition: all 0.2s linear;

							.icon {
								@extend %center-container;

								width: 3rem;
								height: 3rem;

								font-size: 2.75rem;

								padding: 2rem;
							}
						}

						a:hover {
							transform: scale(1.1);
							border-color: $accent;

							color: $accent;
						}
					}
				}
			}
		}

		section#feedback {
			flex-direction: column;

			justify-content: flex-start;

			height: 20rem;

			h1 {
				@extend %center-container;

				width: 100%;
				height: 2rem;

				font-size: 1.5rem;
				font-weight: 400;

				letter-spacing: 0.1rem;

				border-bottom-width: 0.2rem;
				border-bottom-style: solid;
				border-image-source: linear-gradient(
					90deg,
					rgba(255, 255, 255, 0) 0%,
					rgba($accent, 1) 50%,
					rgba(0, 212, 255, 0) 100%
				);
				border-image-slice: 1;
				border-image-width: 2.5rem;
			}

			h2 {
				@extend %center-container;

				width: 100%;
				height: 2rem;

				font-size: 1.2rem;
				font-weight: 400;

				letter-spacing: 0.1rem;

				border-bottom-width: 0.2rem;
				border-bottom-style: solid;
				border-image-source: linear-gradient(
					90deg,
					rgba(255, 255, 255, 0) 0%,
					rgba($accent, 0.5) 50%,
					rgba(0, 212, 255, 0) 100%
				);
				border-image-slice: 1;
			}

			.tile {
				a {
					@extend %center-container;

					display: flex;
					flex-direction: column;

					width: 100%;
					height: 50%;

					padding: 1rem;

					color: $main-fg;

					transition: all 0.2s linear;

					.icon {
						@extend %center-container;

						width: 3rem;
						height: 3rem;

						font-size: 2.75rem;

						padding: 2rem;
					}
				}

				a:hover {
					transform: scale(1.1);
					border-color: $accent;

					color: $accent;
				}
			}
		}
	}
}
