@use 'styles/global/variables' as *;
@use 'styles/global/utils' as *;

section#top::before {
	content: '';

	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 150%;

	background-image: url('/graphics/intro.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position-y: 4rem;
}

section#top {
	@extend %center-container;

	flex-direction: column;
	position: relative;

	height: 48rem;

	color: $main-fg;

	text-shadow: 4px 4px 5px $shadow-color;

	* {
		position: relative;
	}

	h1 {
		font-size: 7rem;
		font-weight: 200;
		letter-spacing: 0.2vmax;
	}

	h2 {
		margin-top: 2rem;

		font-size: 1.5rem;
		font-weight: 400;
		letter-spacing: 0.15vmax;
	}

	img {
		width: 10rem;
		height: auto;

		margin: 2rem;
	}

	a {
		@extend %center-container;

		width: 10rem;
		height: 4rem;

		font-size: 1.4rem;
		font-weight: 400;
		letter-spacing: 0.1vmax;

		margin: 2rem;

		border: $main-fg 0.2rem solid;
		border-radius: 0.2vmax;
		color: $main-fg;

		box-shadow: 4px 4px 5px 0px $shadow-color;
		text-shadow: 4px 4px 5px $shadow-color;

		transition: all 0.2s linear;
	}

	a:hover {
		transform: scale(1.1);
		border-color: $accent;

		color: $accent;
	}
}

div#page {
	main {
		@extend %center-container;

		flex-direction: column;

		position: relative;

		height: auto;

		section {
			@extend %center-container;

			width: 60%;
			height: auto;

			position: relative;

			background-color: $main-bg;
			color: $main-fg;
		}
	}
}
