@use 'styles/global/variables' as *;
@use 'styles/global/utils' as *;

div#page {
	main {
		@extend %center-container;

		flex-direction: column;
		position: relative;

		height: auto;

		background: transparent;

		section {
			@extend %center-container;

			position: relative;

			width: 75%;
			height: auto;

			background-color: $main-bg;
			color: $main-fg;

			text-shadow: 2px 2px 2px $shadow-color;
			box-shadow: inset 0px 0px 10px 0px $shadow-color;
		}

		section#stats {
			height: 100%;
		}
	}
}
