extends _base.pug

block content
	main
		section#top
			//- img(src="/graphics/logo-outline.svg")
			a(href='steam://connect/89.34.96.159:27015/')
				span Join now!
		section#about
			//- Rules, links to discord and steam group, short info about the server
		section#feedback
			//- Where to give feedback on the server (aka. redirect to steam group or to the built-in issue tracker)
		section#contact
			//- Link to profiles of all staff members
