extends _base.pug

block head
	//- Rellax parallax
	script(src='/vendor/js/rellax.min.js')

	script.
		var rellax = new Rellax(".rellax");
	
block content
	section#top.rellax(data-rellax-speed='-4', data-rellax-percentage='0.5')
		//- Quick info about the server.
		h1 Hightower OGs
		h2 TDM insta-respawn with no bullshit
		//- img(src="/graphics/logo-outline.svg")
		a(href='steam://connect/89.34.96.159:27015/')
			span Join now!
	main.rellax(data-rellax-speed='7', data-rellax-percentage='0.3')
		//- Rules, links to discord and steam group, short info about the server
		include views/sections/_about.pug

		//- Where to give feedback on the server (aka. redirect to steam group or to the built-in issue tracker)
		include views/sections/_feedback.pug

		//- Link to profiles of all staff members
		- var userAvatars = userAvatars;
		include views/sections/_contact.pug
