section#about
	h1 About us
	.container
		p Hightower OG's is a small community of hightower regulars that have been fragging on the map for quite some time &amp; as such, we're unsatisfied with the horrible states of most community servers that host our favourite map.
		p We've decided it's time to take things into our own hands &amp; create a proper map &amp; server for all fans of hightower &amp; deathmatch to enjoy! The creation in question is dm_hightower_pro &amp; a server to host it, dm_hightower_pro is an improved version of the map, specialised for deathmatch with fixed bugs, map clipping, lighting &amp; a whole plethora of other optimisations to make gameplay as smooth as possible.
		p For those who are interested in a more detailed list of optimisations, the changelog can be accessed <a href="https://jooonior.github.io/dm_hightower_pro/">here</a>
		p We consider hightower to be THE deathmatch map due to it's size &amp; layout, as soon as you leave spawn, you're 2 steps away from the main action. The diverse nature of the map's design allows for dynamic gameplay without stalemates &amp; with lots of opportunities for all classes &amp; playstyles alike to shine.
		p If you're a fan of the map or just deathmatch in general, on our server, the only thing that will be stopping you from fragging is your own skill.
