section#about
	h1 About us
	.container
		p Hightower OG's was started by a small group of hightower regulars that have been fragging on the map for quite some time and as such, we're unsatisfied with the horrible states of most community servers that host their favourite map. We've decided it's time to take things into our own hands and create a playground for all fans of hightower &amp; deathmatch to enjoy!
		p The creation in question is dm_hightower_pro and a server to host it on, dm_hightower_pro is an improved version of the map, specialised for deathmatch with fixed bugs, map clipping, lighting and a whole plethora of other optimisations to make gameplay as smooth as possible. For those who are interested in a more detailed list of optimisations, the changelog can be accessed <a href="https://jooonior.github.io/dm_hightower_pro/">here</a>
		p We consider hightower to be THE deathmatch map due to it's size and layout, as soon as you leave spawn, you're 2 steps away from the main action. The diverse nature of the map's design allows for dynamic gameplay without stalemates, with lots of opportunities for all classes and playstyles alike to shine. If you're a fan of the map or just deathmatch in general, on our server, the only thing that will be stopping you from fragging is your own skill.
