mixin staffMember(url, name, role)
	.tile 
		img(src=url)
		h1= name
		h2= role

section#contact
	h1 Our staff
	.tile-container
		each staff in staffInfo
			+staffMember(staff.avatarUrl, staff.nick, staff.role)
