section#feedback
	h1 Feedback
	.col-container
		.column 
			h2 Map feedback
			article
				a(
					href='https://steamcommunity.com/groups/HightowerOGs/discussions/0/3080998989610022589/',
					target='_blank',
					rel='noreferrer'
				)
					.icon
						i.fab.fa-steam
					p Steam discussion page
		.column 
			h2 Server feedback
			article
				a(href='https://discord.gg/dGHHcNnsKw', target='_blank', rel='noreferrer')
					.icon
						i.fab.fa-discord
					p Discord server feedback
