section#feedback
	h1 Got some feedback?
	h2 We want to hear it from you!

	.tile 
		header Map feedback:
			a(
				href='https://steamcommunity.com/groups/HightowerOGs/discussions/0/3080998989610022589/',
				target='_blank',
				rel='noreferrer'
			)
				.icon
					i.fab.fa-discord
				p Share it on the Steam discussion page!
	.tile 
		header Server feedback:
			a(href='https://discord.gg/dGHHcNnsKw', target='_blank', rel='noreferrer')
				.icon
					i.fab.fa-discord
				p Share it on our Discord server in the feedback section!
