$main-bg: rgb(32, 34, 37);
$main-fg: rgb(213, 200, 171);
$accent: rgb(212, 106, 49);

$secondary-bg: rgb(224, 204, 188);
$secondary-fg: rgb(34, 31, 29);

$main-font: 'Roboto', sans-serif;
$secondary-font: 'Roboto Slab', serif;

$accent-bg: rgb(82, 37, 20);
$accent-fg: rgb(243, 166, 103);

$shadow-color: rgba(0, 0, 0, 0.4);
