footer
	section.column
		a.tile(href='https://github.com/ClayCore/HOGS_App')
			i.fab.fa-github
			span Source Code
	section.column
		| Copyright &copy; 2021 Hightower OGs <br />
		| Made by junior & claymore <br />
		| Graphics by stfwn
