section#about
	h1 About us
	.col-container
		.column
			h2 Links
			article
				a(href='https://steamcommunity.com/groups/HightowerOGs')
					.icon 
						i.fab.fa-steam
					p Join our group on Steam!
				a(href='https://discord.gg/dGHHcNnsKw')
					.icon
						i.fab.fa-discord
					p Chat with us on Discord!
		.column
			h2 Rules of the server
			article
				//- Blah blah, bullet-point list on rules
		.column
			h2 Info
			article 
