section#about
	h1 About us
		.column
			h2 Links
			article
				.row Join us on Steam!
					//- Steam icon
					//- Steam link
				.row Chat with us!
					//- Discord icon
					//- Discord link
		.column
			h2 Rules of the server
			article
				//- Blah blah, bullet-point list on rules
		.column
			h2 Info
			article 
