section#about
	h1 About us
	.col-container
		.column
			h2 Links
			article
				a(href='https://steamcommunity.com/groups/HightowerOGs', target='_blank', rel='noreferrer')
					.icon 
						i.fab.fa-steam
					p Join our group on Steam!
				a(href='https://discord.gg/dGHHcNnsKw', target='_blank', rel='noreferrer')
					.icon
						i.fab.fa-discord
					p Chat with us on Discord!
		.column
			h2 Rules of the server
			article
				ul 
					li No cheating,
					li Be cool,
		.column
			h2 Info
			article 
				ul
					li Custom map with improvements and fixes,
					li No random bullet spread and crits,
					li No sentries,
					li No <b>RTD</b> or other stupid plugins,
