mixin playerRow(name, score, timePlayed)
	.playerBlock 
		//- img(src=avatar)
		p= name
		p= score
		p= timePlayed

- var playerData = [];
each player in playerData
	+playerRow(playerData.name, playerData.raw.score, playerData.raw.time)
