$main-bg: rgb(20, 21, 22);
$main-fg: rgb(234, 241, 255);
$accent: rgb(4, 121, 255);

$secondary-bg: rgb(192, 203, 224);
$secondary-fg: rgb(20, 21, 22);

$main-font: 'Roboto', sans-serif;
$secondary-font: 'Roboto Slab', serif;

$accent-bg: rgb(36, 57, 66);
$accent-fg: rgb(163, 218, 255);

$shadow-color: rgba(0, 0, 0, 0.4);
