header#topbar
	#logo 
		img(src='/graphics/small_logo.png')
		span Hightower OGs
	.separator
	nav.links
		-
			var list = [['Home', '/'], ['Server Stats', '/stats'], ['Ban Appeal', '/appeal'],
						['Feedback', '#feedback'], ['Contact', '#contact']]
		each anchor in list
			a.link.label(href=anchor[1])
				span= anchor[0]
