// Global master stylesheet
@use 'global/reset';
@use 'global/fonts';
@use 'global/loader';

@use 'global/variables' as *;
@use 'global/utils' as *;

// Load all the sub stylesheets
@use 'pages/homepage.scss';

// All elements prior to the `main display` are basically containers
div#wrapper,
body,
html {
	@extend %root-container;
}

div#wrapper div#page {
	background: $main-bg;
}

// Links are going to be white by default
a {
	color: $main-bg;
	text-decoration: none;
}
